body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2rem;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2 {
  color: #222;
  margin-bottom: 1rem;
}

form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

form label {
  
  flex: 1 1 calc(15%);
  min-width: 100px;
}

form button {
  flex: 1 1 calc(5%);
  min-width: 80px;
  height: 38px;
  align-self: flex-end;
  margin-bottom: 7px;
}




label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 8px 14px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

th, td {
  padding: 12px 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

th {
  background-color: #f1f1f1;
  font-weight: 600;
}

td button {
  background-color: #28a745;
  font-size: 13px;
  padding: 5px 10px;
}

td button:nth-child(2) {
  background-color: #dc3545;
}

td button:hover {
  opacity: 0.85;
}
